header {
    background-color: black;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    gap: 20px;
    }

.logo {
    size: 10px;
    margin-top: auto;
    min-width: 100px;
    height: 100px;
}

.section1 {
    
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    width: 100%; 
    height: 700px; 
    background-color: rgb(44, 36, 36);
    background-size: 100%;
    margin-top: 0%;
}




.img_pre {
    width: 100%; 
    height: 800px;
    object-fit: cover; 
}

.nav ul li a {
    text-decoration: none;
    color: white; 
    }

.nav {
    display: flex;
  }
  
  .nav ul {
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .btn1, .btn2 {
    background-color: rgb(0, 0, 0);
    border-color: black;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: large;
    font-weight: bold;
    box-shadow: 2px 2px 2px 2px black;
    padding: 30px 20px;
    cursor: pointer;

  }

  .btn1:hover, .btn2:hover {
    color: #ff2121;
}



h1 {
    color: aliceblue;
    text-align: center;
    font-style: oblique;
    
    
}

h2 {
    max-width: 800px; 
    margin: 20px auto; 
    padding-left: 00px; 
    text-align: left; 
    color: aliceblue;
}

.button2 {
    display: block; 
    margin: 20px auto;
    padding: 10px;
    color: white;
    background-color: rgb(209, 147, 33);
    text-align: center;
    box-shadow: 2px 2px 2px 2px rgba(245, 6, 6, 0.3);
    border: none;
    width: fit-content; 
}

.button3 {
    display: block; 
    margin: 20px auto; 
    padding: 10px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    text-align: center;
    box-shadow: 2px 2px 2px 2px rgba(253, 4, 4, 0.3);
    border: none;
    width: fit-content; 
    
}

.button2:hover{
    background-color: rgb(199, 80, 0);
    cursor: pointer; 
    padding: 12px; 
}

.button3:hover{
    background-color: rgb(212, 194, 181);
    cursor: pointer;
    padding: 12px;  
}

footer{
    background-color: black;
    padding: 100px;
    color: white;
}

.div-foot{
    max-width:400px ;
}
.img-foot {
    margin: auto;
    padding: 30px;
    height: 70px;
    width: 70px;
}


.section2{
    background-color: black;
}

video {
 
        width: 100%;
        height: 600px; 
        border: none; 
        pointer-events: none;
}

.section4 {
    background-color: rgb(44, 36, 36);
    
}



.img-gng1, .img-gng{
    height: 500px;
    width: 300px;
    border-radius: 15px;
}


.discord {
    display: block; 
    margin: 20px auto; 
    padding: 10px;
    color: white;
    background-color: rgb(209, 147, 33);
    text-align: center;
    box-shadow: 2px 2px 2px 2px rgba(245, 6, 6, 0.3);
    border: none;
    width: fit-content;
}

.discord:hover{
    background-color: rgb(199, 80, 0);
    cursor: pointer; 
    padding: 12px; 
}

.container {
    display: flex;
    flex-direction: column;
}

.div-gng {
    margin: 25px 0;
    margin-left: 200px; 
}

.div-gng1 {
    margin: 25px 0; 
    margin-right: 200px; 
    align-self: flex-end; 
}

.div-dis {
    float: right; 
    margin-left: 20px; 
}

body {
    font-family: Arial, sans-serif; 
}

.container {
    display: flex; 
    justify-content: space-around; 
}

.div-gng, .div-gng1 {
    position: relative; 
    margin: 20px; 
    display: flex; 
    align-items: center; 
}

.bio {
    display: none; 
    margin-left: 20px; 
    padding: 10px;
    border: none;
    z-index: 1; 
    width: 200px; 
    color: white;
}

.div-gng1 {
    flex-direction: row; 
}

.div-gng:hover .bio, .div-gng1:hover .bio {
    display: block; 
}

.div-gng1:hover .bio {
    margin-left: 0;
    margin-right: 20px; 
}

h3 {
    color: white;
}

.back-img {
    width: 100%;
    height: 100%;
}

.first-pre {
    display: flex;
}

.image-container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



.back-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.overlay-text {
    z-index: 2;
    color: white;
    text-align: center;
}
